<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/css/tableStyle.css">

</head>
<body>

<table>
    <thead>
    <tr>
        <th scope="col"><p th:text="Company"></p></th>
        <th scope="col"><p th:text="Contact"></p></th>
        <th scope="col"><p th:text="Country"></p></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="person : ${persons}">
        <td> <span th:text="${person.company}"> Title </span></td>
        <td> <span th:text="${person.contact}"> Author </span> <img src="./image/up_arrow.png"/></td>
        <td> <span th:text="${person.country}"> Author </span></td>
    </tr>
    </tbody>
</table>

<table style="width:100%" class="table">
    <thead>
    <tr>
        <th scope="col"><p>#</p></th>
        <th scope="col"><p th:text="${company}"></p></th>
        <th scope="col"><p th:text="${contact}"></p></th>
        <th scope="col"><p th:text="${country}"></p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td><span>Alfreds Futterkiste</span></td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
    <tbody>
</table>


</body>
</html>